<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chess Login</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
</head>
<body>
    <form action="" method="post" novalidate>
        <div id="name">Sign In</div>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
        <p class='profile-sect-title login' style="margin: auto;"> New User?<a href="{{ url_for('register') }}"> Click to Register!</a></p>
    </form>
</body>
</html>
